<p>app component works</p>

<button (click)="LogCurrency()">click to log currencyList</button>

<!-- <ul>
  <div *ngFor="let currency of currencyArray">
    <li>{{currency.name}}</li>
  </div>
</ul> -->

<form [formGroup]="conversionForm" class="form-inline" (ngSubmit)="CalculateConversion()">
  <mat-form-field appearance="standard">
    <mat-label>Currency From:</mat-label>
    <mat-select class="form-control" matInput formControlName="currencyFrom">
      <mat-option *ngFor="let currency of currencyArray" value={{currency.symbol}}>{{currency.symbol}} : {{currency.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Amount</mat-label>
    <input type="number" placeholder="Enter Value to Convert" class="form-control" matInput formControlName="amount">
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Currency To:</mat-label>
    <mat-select class="form-control" matInput formControlName="currencyTo">
      <mat-option *ngFor="let currency of currencyArray" value={{currency.symbol}}>{{currency.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" class="btn btn-primary">Convert</button>
</form>

<h1>Converted Value: {{convertedValue | currency}}</h1>

<!-- <button (click)="getCurrencyList()">click to test api</button>

<ul>
  <div *ngFor="let test of testArray">
    <li>{{test.name}}</li>
  </div>
</ul> -->
